*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#parent-div{
    min-height: 100vh;
    min-width: 100vw;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
   
}
.left-panel{
    height: 100vh;
    width: 19vw;
    position:sticky; 
    top:0rem;
    display: flex;
    background-color:blueviolet;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0px 15px 1vh ;
    border-right: 1px solid rgb(192, 192, 192);
}
.insta-logo{
    height: 18vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insta-logo>.logo{
    background-image: url(./images/Instagram_logo.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 50%;
    margin: 0 1rem;
}

.left-panel-items{
    height: 9vh;
    width: 100%;
    border-radius: 0.5rem;
}
.overlay{
    height:100%;
    width:100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.overlay:hover{
    background-color: rgb(240, 244, 243);
    border-radius: 0.5rem;
}
.overlay>i{
    font-size: 1.6rem;
    margin: 0 1rem;
}
/* middle-panel */

.middle-panel{
    min-height:100vh;
    height:auto;
    width:50vw;
    background-color: brown;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.middle-panel-items{
    background-color: chartreuse;
    height: 7rem;
    width: 100%;
    display: flex;   
}
.middle-overlay{
    height:4.5rem;
    width:4.5rem;
    background-color: crimson;
    margin:3px;
}
.feed-div{
    height:36rem;
    width: 29rem;
    background-color: burlywood;
     
}


/* Right-panel */

.right-panel{
    height:100vh;
    width: 30vw;
    margin-top:2rem;
}
.right-panel-items{
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:1rem;
}
.inner-items>i{
    font-size: 1.6rem;
    margin: 0 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggested-panel{
    background-color: chocolate;
    width:100%;
    display: flex;
    justify-content: space-around;
    margin:1rem 0 0.5rem 0;
    color:grey;
    font-weight: bold;
}

.inner-items{
    height:auto;
    width:12rem;
    display:flex;
    background-color: bisque;
    font-size:0.8rem;
}
.content {
    display: flex;
    flex-direction: column;
}
.right-panel-para{
    color: grey;
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-right:2rem;
    word-wrap: break-word;
}
.follow-div{
    font-size:0.9rem;
    color: #23a4F7;
    font-weight: 500;
}
